<div *ngIf="receivedDataType == 0">
    <button (click)="closeDetail()">Close</button>
    <div class="detail">
        <h2>{{receivedData.name}}{{receivedData.username}}</h2>
        <h4>Email: </h4>
        <h4>{{receivedData.email}}</h4>
        <h4>Address: </h4>
        <h4>{{receivedData.address}}</h4>
        <h4>Phone: </h4>
        <h4>{{receivedData.phone}}</h4>
        <h4>Website: </h4>
        <h4>{{receivedData.website}}</h4>
        <h3>Company: </h3>
        <h4>Name: </h4>
        <h4>{{receivedData.company.name}}</h4>
        <h4>CatchPhrase: </h4>
        <h4>{{receivedData.company.catchPhrase}}</h4>
        <h4>Base: </h4>
        <h4>{{receivedData.company.bs}}</h4>
    </div>
</div>
<div #comment>
    <div class="detail">
        <h2 #comment>{{receivedData.name}}</h2>
        <h4>Email: </h4>
        <h4 #comment>{{receivedData.email}}</h4>
        <h4>Body: </h4>
        <h4 #comment>{{receivedData.body}}</h4>
    </div>
</div>

<div #album></div>
<div #photo></div>