<app-details *ngIf="isDetailOpen" [detail]="isDetailOpen" (detail)="isDetailOpen=$event" [receivedData]="selectedData" [receivedDataType]="selectedDataType"></app-details>
<div [class.detail-bkg]="isDetailOpen">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Users">
            <h1>Users</h1>
            <div class="album py-5" *ngFor="let user of loadUsers, let  i = index" style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow-sm ">
                                <h4> {{user.name}} {{user.username}}</h4>

                                <div class="card-body ">
                                    <p class="card-text ">{{user.email}}</p>
                                    <div class="d-flex justify-content-between ">

                                        <a (click)="showDetail(user, 0)">
                                            <h2> Details </h2>
                                        </a>
                                        <mat-icon (click)="setUserToLocalStorage(i) ">stars</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab label=" Comments ">
            <h1>Comments</h1>
            <div class="album py-5 " *ngFor="let comment of loadComments| slice:0:20 let x=index " style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow-sm ">
                                <h4> {{comment.name}}</h4>

                                <div class="card-body ">
                                    <p class="card-text ">{{comment.email}}</p>
                                    <div class="d-flex justify-content-between ">
                                        <a (click)="showDetail(comment, 1)">
                                            <h2> Details </h2>
                                        </a>
                                        <mat-icon (click)="setCommentToLocalStorage(x) ">stars</mat-icon>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Albums ">
            <h1>Albums</h1>

            <div class="album py-5 " *ngFor="let album of loadAlbums| slice:0:20 let y=index " style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow-sm ">
                                <h4> {{album.id}}</h4>

                                <div class="card-body">
                                    <p class="card-text">{{album.title}}</p>
                                    <div class="d-flex justify-content-between ">
                                        <a (click)="showDetail(album, 2)">
                                            <h2> Details </h2>
                                        </a>
                                        <mat-icon (click)="setAlbumToLocalStorage(y) ">stars</mat-icon>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Photos ">
            <h1>Photos</h1>
            <div class="album py-5 " *ngFor="let photo of loadPhotos| slice:0:20 let z=index " style="width:25%; display: inline-block; text-align: center ">


                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class=" card shadow-sm ">
                                <img src="{{photo.url}} ">

                                <div class="card-body ">
                                    <p class="card-text ">{{photo.title}}</p>
                                    <div class="d-flex justify-content-between ">
                                        <a (click)="showDetail(photo, 3)">
                                            <h2> Details </h2>
                                        </a>
                                        <mat-icon (click)="setPhotoToLocalStorage(z) ">stars</mat-icon>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Favorites " (click)="getAllFromLocalStorage()">

            <h1 style="text-align: center;" *ngIf="listOfUsers.length>0">Users</h1>
            <div class="album py-5 " *ngFor="let liu of listOfUsers" style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow-sm ">
                                <h4> {{liu.name}} {{liu.username}}</h4>

                                <div class="card-body ">
                                    <p class="card-text ">{{liu.email}}</p>
                                    <div class="d-flex justify-content-between ">

                                        <a (click)="showDetail(liu, 0)">
                                            <h2> Details </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 style="text-align: center;" *ngIf="listOfPhotos.length>0">Photo</h1>
            <div class="album py-5 " *ngFor="let lip of listOfPhotos" style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class=" card shadow-sm ">
                                <img src="{{lip.url}} ">

                                <div class="card-body ">
                                    <p class="card-text ">{{lip.title}}</p>
                                    <div class="d-flex justify-content-between ">
                                        <a (click)="showDetail(lip, 3)">
                                            <h2> Details </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 style="text-align: center;" *ngIf="listOfComments.length>0">Comment</h1>
            <div class="album py-5 " *ngFor="let lic of listOfComments" style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow-sm ">
                                <h4> {{lic.name}}</h4>

                                <div class="card-body ">
                                    <p class="card-text ">{{lic.email}}</p>
                                    <div class="d-flex justify-content-between ">
                                        <a (click)="showDetail(lic, 1)">
                                            <h2> Details </h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 style="text-align: center;" *ngIf="listOfAlbums.length>0">Albums</h1>

            <div class="album py-5 " *ngFor="let lia of listOfAlbums " style="width:25%; display: inline-block; text-align: center ">
                <div class="container ">
                    <div class="row ">
                        <div class="col ">
                            <div class="card shadow-sm ">
                                <h4> {{lia.id}}</h4>

                                <div class="card-body">
                                    <p class="card-text">{{lia.title}}</p>
                                    <div class="d-flex justify-content-between ">
                                        <a (click)="showDetail(lia, 2)">
                                            <h2> Details </h2>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab disabled>
            <ng-template mat-tab-label>
                <button mat-icon-button [routerLink]="''">
               <p style="color: rgb(174, 76, 174); ">Logout</p>
            </button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>